{% extends 'base.html' %}

{%block css%}  
<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
{%endblock%}

{%block title%} Code_Bug ~ 4O4 {%endblock%}

{% block content %}

	<br/><br/><br/><br/><br/><br/>
	<center>
	<h1>404 Error</h1>
	<p>Page Not Found - Try Again...</p>
	</center>

	<center>
		<lottie-player src="https://assets7.lottiefiles.com/private_files/lf30_2mpmbcwo.json"background="transparent"  speed="1"  style="width: 400px; height: 400px;"  loop  autoplay></lottie-player>
	</center>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
	<br/><br/><br/><br/>

{% endblock %}

{% block footer %}
	
{% endblock %}