{% extends 'base.html' %}

{%block css%}  
<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
{%endblock%}

{%block title%} Code_Bug ~ 5OO {%endblock%}

{% block content %}

	<center>
	<h1>500 Internal Server Error</h1>
	<p>Something Went Wrong! Try Again...</p>
	<lottie-player src="https://assets6.lottiefiles.com/packages/lf20_IUyiNyKLsv.json"  background="transparent" 
	 speed="1"  style="width: 400px; height: 400px;"  loop  autoplay></lottie-player>
	</center>
	<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
	<br/><br/><br/><br/>

{% endblock %}

{% block footer %}

{% endblock %}