{% extends 'base.html' %}

{%block css%}

<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

{%endblock%}

{%block title%} Code_Bug ~ Admin Panel {%endblock%}

{% block content %}

<style>
    h3{
        font-weight: 400;
    }
    th{
        font-size: large;
        font-weight: 300;
    }
    
    .serial
    {
        counter-reset: Serial;           /* Set the Serial counter to 0 */
    }

    table
    {
        border-collapse: separate;
    }

    tr td:first-child:before
    {
    counter-increment: Serial;      /* Increment the Serial counter */
    content: "" counter(Serial); /* Display the counter */
    }
</style>
<br/> <br/><br/><br/><br/><br/>

<center>
    <h2 class="transition2 page-section-heading text-center text-uppercase text-dark mb-0" 
    style="font-weight:250;
    text-decoration: underline solid rgb(96, 96, 96) 1px;
    text-underline-position: under;">
    ADMIN PANEL</h2><br/>

    <h3 class="transition2"> Post HIstory </h3>
</center>	
<br/>

<div class="table-responsive transition4 "> 
<table class="serial table table-responsive">
    <thead class=" table-dark">
        <tr> 
        <th scope="col">Sno.</th>   
        <th scope="col">Questions</th>
        <th scope="col">Ctg</th>
        <th scope="col">Date</th>
        <!-- <th scope="col">By</th> -->
        <th scope="col">View</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>

    {% for post in posts %}
    
    <tr class=" table-light">
        <td></td>
		<td>{{ post.title }}</td>
		<td>{{ post.category }}</td>
        <td>{{ post.date_posted }}</td>	 
        <!-- <td>{{ post.poster.name }}</td>  -->
	    <td><a href="{{ url_for('post', id=post.id)}}" class="btn btn-outline-success btn-sm">View</a></td>
	    
        {% if current_user.id == 8 %}
	    <td><a href="{{ url_for('edit_post', id=post.id)}}" class="btn btn-outline-warning btn-sm">Edit</a></td>
	    <td><a href="{{ url_for('delete_post', id=post.id)}}" class="btn btn-outline-danger btn-sm">Delete</a></td>	
        {% endif %}	
        
    </tr>

    {% endfor %}

    <tbody>
</table>
</div> 

<br/><br/><br/>
<center><h3> Users List</h3></center>
<br/>

<div class="table-responsive "> 
<table class="serial table">
    <thead class=" table-dark">
    <tr> 
    <th scope="col">Sno.</th>   
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Username</th>
    <th scope="col">Handle</th>
    <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>

    {% for our_user in our_users %}

	<tr class=" table-light">
        <td>  </td>
        <td> {{ our_user.id }} </td>
        <td> {{ our_user.name }}</td>
        <td> {{our_user.username }} </td>
        <td> {{ our_user.email }} </td>
        <td> <a href="{{ url_for('delete', id=our_user.id)}}"><button class = "btn btn-outline-danger btn-sm">Delete</button></a> </td>
    </tr>

    {% endfor %}

    </tbody>
</table>
</div>

{% endblock %}

<br/><br/><br/><br/>