{% extends 'base.html' %}

{%block title%} Code_Bug ^_^ {%endblock%}

{% block content %}

<section id="hero"class="home">
  <div class="media-icons">
    <a href="#"><i class="uil uil-facebook-f"></i></a>
    <a href="#"><i class="uil uil-instagram"></i></a>
    <a href="#"><i class="uil uil-twitter"></i></a>
  </div>

  <div class="swiper bg-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="{{ url_for('static', filename='imgs/thisthat2.jpg') }}" alt="">
        <div class="text-content">
          <h2 class="title">Code <span>Bug</span></h2>
          <p>“Success is no accident. It is hard work, perseverance, learning, studying, sacrifice and most of all, love of what you are doing or learning to do.
            Striving for success without hard work is like trying to harvest where you haven't planted.”
          </p>
          <!-- <button class="read-btn"><i class="uil uil-arrow-right"></i></button> -->
          <!-- <form method="POST" action="{{ url_for('search')}}">
            {{ form.hidden_tag() }}
          <input id="input" class="read-btn optional-styles" type="search" name="searched" placeholder="Search here" />
          </form> -->
          <div class="search-bar">
            <div class="input-group">
                <button class="btn"><svg t="1585652817188" class="search" viewBox="0 0 1024 1024" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" p-id="1034" width="10" height="10" fill="currentColor">
                        <path
                            d="M888.703059 847.158363 733.373365 691.826622c50.040696-59.650565 80.190367-136.551002 80.190367-220.507136 0-189.613522-153.703661-343.318206-343.31616-343.318206-189.616592 0-343.31923 153.703661-343.31923 343.318206s153.703661 343.318206 343.31923 343.318206c85.053118 0 162.867368-30.94171 222.838228-82.163301l155.141406 155.141406c11.174504 11.17655 29.300326 11.17655 40.47483 0C899.859144 876.440269 899.859144 858.334913 888.703059 847.158363zM470.248595 757.416456c-158.006663 0-286.10004-128.090307-286.10004-286.097994 0-158.006663 128.093377-286.099017 286.10004-286.099017s286.079574 128.093377 286.079574 286.099017C756.32817 629.326149 628.254236 757.416456 470.248595 757.416456z"
                            p-id="1035"></path>
                    </svg></button>
                <input type="search" class="forms-control" name="search" placeholder="Search Task or Project...">
            </div>
        </div>


        </div>
      </div>
      <div class="swiper-slide dark-layer">
        <img src="{{ url_for('static', filename='imgs/thisthat.jpg') }}" alt="">
        <div class="text-content">
          <h2 class="title">Nature <span>is wild</span></h2>
          <p>“Success is no accident. It is hard work, perseverance, learning, studying, sacrifice and most of all, love of what you are doing or learning to do.
            Striving for success without hard work is like trying to harvest where you haven't planted.”
          </p>
          <form method="POST" action="{{ url_for('search')}}">
            {{ form.hidden_tag() }}
          <input id="input" class="read-btn optional-styles" type="search" name="searched" placeholder="Search here" />
          </form>
        </div>
      </div>
      <div class="swiper-slide dark-layer">
        <img src="{{ url_for('static', filename='imgs/thisthat3.jpg') }}" alt="">
        <div class="text-content">
          <h2 class="title">Gray <span>is the color</span></h2>
          <p>“Success is no accident. It is hard work, perseverance, learning, studying, sacrifice and most of all, love of what you are doing or learning to do.
            Striving for success without hard work is like trying to harvest where you haven't planted.”
          </p>
          <form method="POST" action="{{ url_for('search')}}">
            {{ form.hidden_tag() }}
          <input id="input" class="read-btn optional-styles" type="search" name="searched" placeholder="Search here" />
          </form>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="{{ url_for('static', filename='imgs/thisthat4.jpg') }}" alt="">
        <div class="text-content">
          <h2 class="title">Vibrant <span>Theme</span></h2>
          <p>“Success is no accident. It is hard work, perseverance, learning, studying, sacrifice and most of all, love of what you are doing or learning to do.
            Striving for success without hard work is like trying to harvest where you haven't planted.”
          </p>
          <form method="POST" action="{{ url_for('search')}}">
            {{ form.hidden_tag() }}
          <input id="input" class="read-btn optional-styles" type="search" name="searched" placeholder="Search here" />
          </form>     
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-slider-thumbs">
    <div class="swiper-wrapper thumbs-container">
      <img src="{{ url_for('static', filename='imgs/thisthat2.jpg') }}" class="swiper-slide" alt="">
      <img src="{{ url_for('static', filename='imgs/thisthat.jpg') }}" class="swiper-slide" alt="">
      <img src="{{ url_for('static', filename='imgs/thisthat3.jpg') }}" class="swiper-slide" alt="">
      <img src="{{ url_for('static', filename='imgs/thisthat4.jpg') }}" class="swiper-slide" alt="">
    </div>
  </div>
</section>

<section class="section">
  <center><h1 class="page-title">Explore</h1></center>
  </section>
<section class="section"id="cards-section">
  
<div id="cards">
    <div class="card">
      <div class="card-content">
        <div class="card-image">
          <iconify-icon icon="ion:logo-python"style="color: #4d4d4d;" width="94" height="94"></iconify-icon>
        </div>
        <div class="card-info-wrapper">
          <div class="card-info">
            <i class="uil uil-instagram"></i>
            <div class="card-info-title">
              <h3>  <a href="/posts/python">Python</a></h3>
              <h4>Logic? yeah! here, logic works not memorizing...</h4>
            </div>    
          </div>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-content">
        <div class="card-image">
          <i class="uil-web-section"></i>
        </div>
        <div class="card-info-wrapper">
          <div class="card-info">
            <i class="uil uil-instagram"></i>
            <div class="card-info-title">
              <h3>  <a href="/posts/framework">Frameworks</a></h3>
              <h4>Logic? yeah! here, logic works not memorizing...</h4>
            </div>    
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <div class="card-image">
          <iconify-icon icon="file-icons:test-python"style="color: #4d4d4d;" width="94" height="94"></iconify-icon>
        </div>
        <div class="card-info-wrapper">
          <div class="card-info">
            <i class="uil uil-instagram"></i>
            <div class="card-info-title">
              <h3>  <a href="/posts/automation">Automation</a></h3>
              <h4>Logic? yeah! here, logic works not memorizing...</h4>
            </div>    
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <div class="card-image">
          <i class="uil-github"></i>
        </div>
        <div class="card-info-wrapper">
          <div class="card-info">
            <i class="uil uil-instagram"></i>
            <div class="card-info-title">
              <h3>  <a href="/posts/git">Git</a></h3>
              <h4>Logic? yeah! here, logic works not memorizing...</h4>
            </div>    
          </div>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-content">
        <div class="card-image">
          <iconify-icon icon="material-symbols:menu-book-outline-sharp"style="color: #4d4d4d;" width="114" height="114"></iconify-icon>
        </div>
        <div class="card-info-wrapper">
          <div class="card-info">
            <i class="uil uil-instagram"></i>
            <div class="card-info-title">
              <h3>  <a href="/posts/basic">Basics</a></h3>
              <h4>Logic? yeah! here, logic works not memorizing...</h4>
            </div>    
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <div class="card-image">
          <i class="uil-keyboard-alt"></i>
        </div>
        <div class="card-info-wrapper">
          <div class="card-info">
            <i class="uil uil-instagram"></i>
            <div class="card-info-title">
              <h3><a href="/posts/code">Coding Problems</a></h3>
              <h4>Logic? yeah! here, logic works not memorizing...</h4>
            </div>    
          </div>
        </div>
      </div>
    </div>
  
</div>
</section>

<section class="section">
<center><h1 class="page-title" style="display:block;">Projects</h1></center>
</section>

<section class="section"id="flat-cards-section"> 

<div id="flat-cards">
  <div class="flat-card">
    <div class="card-content">
      <div class="card-info-wrapper">
        <div class="card-info">
          <i class="fa-duotone fa-apartment"></i>
          <div class="card-info-title">
            <h3>  <a href="/code">Coding Problems</a></h3>
              <h4>Logic? yeah! here, logic works not memorizing...</h4>
          </div>    
        </div>
      </div>
    </div>
  </div>
<div id="flat-cards">
  <div class="flat-card">
    <div class="card-content">
      <div class="card-info-wrapper">
        <div class="card-info">
          <i class="fa-duotone fa-apartment"></i>
          <div class="card-info-title">
            <h3>  <a href="/code">Coding Problems</a></h3>
              <h4>Logic? yeah! here, logic works not memorizing...</h4>
          </div>    
        </div>
      </div>
    </div>
  </div>
<div id="flat-cards">
  <div class="flat-card">
    <div class="card-content">
      <div class="card-info-wrapper">
        <div class="card-info">
          <i class="fa-duotone fa-apartment"></i>
          <div class="card-info-title">
            <h3>  <a href="/post/code">Coding Problems</a></h3>
              <h4>Logic? yeah! here, logic works not memorizing...</h4>
          </div>    
        </div>
      </div>
    </div>
  </div>
<div id="flat-cards">
  <div class="flat-card">
    <div class="card-content">
      <div class="card-info-wrapper">
        <div class="card-info">
          <i class="fa-duotone fa-apartment"></i>
          <div class="card-info-title">
            <h3>  <a href="/code">Coding Problems</a></h3>
              <h4>Logic? yeah! here, logic works not memorizing...</h4>
          </div>    
        </div>
      </div>
    </div>
  </div>
<div id="flat-cards">
  <div class="flat-card">
    <div class="card-content">
      <div class="card-info-wrapper">
        <div class="card-info">
          <i class="fa-duotone fa-apartment"></i>
          <div class="card-info-title">
            <h3>  <a href="/code">Coding Problems</a></h3>
              <h4>Logic? yeah! here, logic works not memorizing...</h4>
          </div>    
        </div>
      </div>
    </div>
  </div>
<div id="flat-cards">
  <div class="flat-card">
    <div class="card-content">
      <div class="card-info-wrapper">
        <div class="card-info">
          <i class="fa-duotone fa-apartment"></i>
          <div class="card-info-title">
            <h3>  <a href="/code">Coding Problems</a></h3>
              <h4>Logic? yeah! here, logic works not memorizing...</h4>
          </div>    
        </div>
      </div>
    </div>
  </div>

</section>

<section class="section" id="about" >
  <div class="about-container"> 
    <center><h1 class="page-title">About</h1></center> 
    <main>
      <article class="content">
        <section class="content__descriptor">
          <h2 class="content__title">Humm, Want to know something about codebug?</h2>
        </section>
        <section class="content__text-box">
          <p class="content__text">
            We aim to be the investors we wished we had when we started out.
            Lightning-fast, always on your side and fundamentally helpful.
          </p>
          <p class="content__text">
            Our knowledge is your knowledge. Our network is your network. Your
            problems are our problems. We don't have all the answers, but we
            will help you find them.
          </p>
        </section>
      </article>
    </main>
  </div>
</section>

  <!-- <div class="login-box">
    <h2>Login</h2>
    <form>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="">
        <label>Password</label>
      </div>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </a>
    </form>
  </div> -->
     
      <!-- <form method="POST" action="{{ url_for('search')}}" class="d-flex linky">
        {{ form.hidden_tag() }}
        <input class="linky form-control me-2 bg-transparent mt-3 mb-3 py-2"
        style="font-size: 1em;
        border-style: initial;
        padding-left: inherit;
        text-transform:uppercase;"
        type="search" placeholder="SEARCH HERE" aria-label="Search" name="searched"/>
      </form> -->
      
<!-- Contact Section-->
<!-- <section class="page-section transition4" id="contact" >
  <div class="container">

    <h2 class="transition4 page-section-heading text-center text-uppercase text-secondary mb-4"style="font-weight:250; text-decoration: underline solid gray 1.5px; text-underline-position: under;">Contact Me</h2>
      <br/>  <br/>

      <div class="row justify-content-center">
          <div class="col-lg-8 col-xl-7">      
              <form id="contactForm"style="font-weight:250; color:white;" action="/" method= "post">
                  <div class="transition4 form-floating mb-3">
                      <input class="form-control bg-transparent" id="name" name="name" type="text" placeholder="Enter your name..."  required/>
                      <label for="name">Full name</label>
                  </div>
                  <div class="transition4 form-floating mb-3">
                      <input class="form-control bg-transparent" id="email" name="email" type="email" placeholder="name@example.com" required />
                      <label for="email">Email address</label>                   
                  </div>
                  <div class="transition4 form-floating mb-3">
                      <input class="form-control bg-transparent" id="phone" name="phone" type="tel" placeholder="(123) 456-7890" required/>
                      <label for="phone">Phone number</label>
                  </div>
                  <div class="transition4 form-floating mb-3">
                      <textarea class="form-control bg-transparent" id="message" name="message" type="text" placeholder="Enter your message here..." style="height: 10rem" required></textarea>
                      <label for="message">Message</label>
                  </div>              
                  <div class="d-none" id="submitSuccessMessage">
                      <div class="text-center mb-3">
                          <div class="fw-bolder"><h4>Form submission successful!</h4></div>
                      </div>
                  </div>                  
                  <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3"><h3>Error sending message!</h3></div></div>
                  <button class="btn btn-primary btn-xl " id="submitButton" type="submit">Send</button>
              </form>
          </div>
      </div>
  </div>
</section> -->
<!--Contact section ends-->

{%endblock%}