
<header id="header">
  <div class="nav-bar">
    <a href="" class="logo">Code_bug</a>
    <div class="navigation">
      <div class="nav-items">
        <i class="uil uil-times nav-close-btn"></i>
        <a href="/"><i class="uil uil-home"></i> Home</a>
        <a href="/#courses"><i class="uil uil-compass"></i> Courses</a>
        <a href="/#projects"><i class="uil uil-info-circle"></i> Projects</a>
        <a href="/#about"><i class="uil uil-document-layout-left"></i> About</a>
        <a href="{{ url_for('add_post')}}"><i class="uil uil-info-circle"></i>Post</a>
        {% if current_user.id == 1 %}
        <a href="{{ url_for('admin')}}"><i class="uil uil-info-circle"></i> Admin</a>
        {% endif %}

        <!-- <form method="POST" action="{{ url_for('search')}}" class="d-flex">
          {{ form.hidden_tag() }}
          <input class="form-control me-2"style="background: transparent;border-color: transparent;"type="search"
            placeholder='SEARCH'aria-label="Search"name="searched"/>
        </form> -->

        {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout')}}"><i class="uil uil-info-circle"></i> Logout</a>

        <a href="{{ url_for('profile')}}">
          {% if current_user.profile_pic %}
          <img src="{{ url_for('static', filename='imgs/' + current_user.profile_pic)}}" class=".img-fluid rounded-circle" style="height:35px;width:35px;" alt="profile pic"loading="lazy">     
          {% else %}  
          <img src="{{ url_for('static', filename='imgs/default_profile_pic.png')}}" class=".img-fluid rounded-circle" style="height:35px;width:35px;" alt="profile pic"loading="lazy">      
          {% endif %}
        </a>
        
        {% else %}
        <a href="/login"><i class="uil uil-info-circle"></i> Login</a>
        <!-- <a class="login-trigger uil uil-envelope" href="" data-target="#login" data-toggle="modal">Login</a> -->
        <a href="/register"><i class="uil uil-info-circle"></i> Register</a>
        {% endif %}
      </div>
    </div>
    <i class="uil uil-apps nav-menu-btn"></i>
  </div>
</header>
