{% extends 'base.html' %}

{%block css%}  

<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

{%endblock%}

{%block title%} Code_Bug ~ Posts {%endblock%}

{%block snippets%}

<!-- enabling syntax hughlight in snippet on Targeted Page-->
<link rel="stylesheet"href="//unpkg.com/@highlightjs/cdn-assets@11.6.0/styles/default.min.css">
<script src="//unpkg.com/@highlightjs/cdn-assets@11.6.0/highlight.min.js"></script>
<!--Inititalize highlight.js-->
<script>hljs.initHighlightingOnLoad();</script>
<!--Loading theme on page-->
{{ ckeditor.load_code_theme() }}

{%endblock%}

{% block content %}
<style>
	.hljs-variable, .hljs-params, .hljs-class .hljs-title {
		color: violet;
	}
	.hljs-string, .css .hljs-id, .hljs-subst, .haskell .hljs-type, .ruby .hljs-class .hljs-parent, .hljs-built_in, .sql .hljs-aggregate, .django .hljs-template_tag, .django .hljs-variable, .smalltalk .hljs-class, .django .hljs-filter .hljs-argument, .smalltalk .hljs-localvars, .smalltalk .hljs-array, .hljs-attr_selector, .hljs-pseudo, .hljs-addition, .hljs-stream, .hljs-envvar, .apache .hljs-tag, .apache .hljs-cbracket, .tex .hljs-command, .hljs-prompt, .hljs-link_label, .hljs-link_url {
		color: brown;
	}
</style>
<br/>
<div>
	<a class="btn btn-primary float-start"style="outline:none;" href="{{prev}}">&larr; Previous</a>
	<a class="btn btn-primary float-end" href="{{next}}">Next &rarr;</a>
</div>
<br/><br/><br/><br/>
{% for post in posts %}
<div class="transition3 shadow p-5 mb-5 bg-body rounded">
	<h5 style="font-weight: 400;">{{ post.title }}</h5>
	<small>
	<!-- By: {{ post.poster.name }}<br/> -->
	{{ post.date_posted }}
	</small>
	<br/><br/>
	<!--<h2 ><a style="text-decoration: none;font-size:1.4rem; font-weight:300;"href="{{ url_for('post', id=post.id)}}">{{ post.title }}</a></h2> -->
	<h4 style="font-weight:300; 
	font-family: 'Poppins', sans-serif;
	font-size: 19px;
	letter-spacing: 0.60px;
	line-height: 30px;
	color: rgb(30, 30, 30);
	font-style: normal;">
    {{ post.content|safe }}</h4>
	<br/>
	{% if  current_user.id == 1 %}	
	<a href="{{ url_for('post', id=post.id)}}" class="btn btn-outline-dark btn-sm" >View Post</a>
	<a href="{{ url_for('edit_post', id=post.id)}}" class="btn btn-outline-warning btn-sm">Edit Post</a>	
	{% endif %}
	
  </div>
 
{% endfor %}

<br/><br/>
<!-- Pager-->

<div>
	<a class="btn btn-primary float-start" href="{{prev}}">&larr; Previous</a>
	<a class="btn btn-primary float-end" href="{{next}}">Next &rarr;</a>
</div>

<br/><br/><br/><br/><br/>
{% endblock %}

{% block footer %}
	
{% endblock %}