{% extends 'base.html' %}

{%block css%}  

<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

{%endblock%}

{%block title%} Code_Bug ~ Posts {%endblock%}

{%block snippets%}

<!-- enabling syntax hughlight in snippet on Targeted Page-->
<link rel="stylesheet"href="//unpkg.com/@highlightjs/cdn-assets@11.6.0/styles/default.min.css">
<script src="//unpkg.com/@highlightjs/cdn-assets@11.6.0/highlight.min.js"></script>
<!--Inititalize highlight.js-->
<script>hljs.initHighlightingOnLoad();</script>
<!--Loading theme on page-->
{{ ckeditor.load_code_theme() }}

{%endblock%}

{% block content %}

<br/><br/><br/><br/><br/><br/>

{% for message in get_flashed_messages() %}

	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

{% endfor %}

{% for post in posts %}
  <div class="shadow p-4 mb-5 bg-body rounded">
	<div>
	<h2 ><a style="text-decoration: none;font-size:1.4rem; font-weight:300;"href="{{ url_for('post', id=post.id)}}">{{ post.title }}</a></h2>
	<small style="font-weight:300; 
	font-family: 'Basetica Light',sans-serif;
	font-size: 12px;
	letter-spacing: 0.48px;
	line-height: 16px;
	color: rgb(104, 104, 104);">
	<!-- By: {{ post.poster.name }}<br/> -->
	 {{ post.category }} |
	 {{ post.date_posted }}
	</small> 
	<br/>
		
	<p><h6 style="font-weight:300; 
		font-family: 'Basetica Light',sans-serif;
		font-size: 16px;
		letter-spacing: 0.48px;
		line-height: 24px;
		color: rgb(30, 30, 30);
		font-style: normal;">

		{%if post.content[0:500] < post.content%}

		{{ post.content[0:500]|safe }} <a href="{{ url_for('post', id=post.id)}}" style= "text-decoration:none;color:pink;">see more...</a>

		{%else%}

		{{ post.content|safe }}

		{% endif %}

	</h6></p>
	</div>
	<div>
	<a href="{{ url_for('post', id=post.id)}}" class="btn btn-outline-dark btn-sm">View Post</a>

	{% if  current_user.id == 8 %}	
	<a href="{{ url_for('edit_post', id=post.id)}}" class="btn btn-outline-warning btn-sm">Edit Post</a>	
	{% endif %}
	
	</div>
  </div>
 
{% endfor %}

<br/><br/><br/><br/><br/><br/><br/>

{% endblock %}

{% block footer %}
	
{% endblock %}