{% extends 'base.html' %}

{%block css%}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>

{%endblock%}

{%block title%} Code_Bug ~ Profile {%endblock%}

{% block content %}
<style>
  body{
    background-color: #1f1e22;
  }
  .card {
    background-color: #161518;
  }
  .col-8 {
    color: honeydew;
  }
</style>
<br/><br/><br/>
<div class="container">
{% for message in get_flashed_messages() %}

	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

{% endfor %}

<br/>
<center><h2>Profile</h2></center>
<br/>
<div class="transition3 card">
  <div class="card-header">
  <h5>View Profile...</h5>
  </div>
  <div class="card-body">
    <p class="card-text">       
    <div class="container">
      <div class="row">
        <div class="col-8">
        <strong>Name:</strong>
        {{ current_user.name }}  <br/>   
        <strong>Username:</strong>
        {{ current_user.username }}  <br/>  
        <strong>User Id:</strong>
        {{ current_user.id }}  <br/>  
        <strong>Email:</strong>
        {{ current_user.email }}  <br/>   
        <strong>About Author:</strong>
        {{ current_user.about_author }}  <br/>
        <strong>Profile Pic(Hashed):</strong>
        {{ current_user.profile_pic }}  <br/>
        <strong>password(Hashed):</strong>
        {{ current_user.password_hash }}  <br/>    
        <strong>Date Joined:</strong>
        {{ current_user.date_added }}  <br/>  
    </p>
        <a href="{{ url_for('logout')}}" class="btn btn-outline-warning btn-sm">Logout</a>    
        <a href="{{ url_for('update', id=current_user.id)}}" class="btn btn-outline-secondary btn-sm">Update Profile</a>     
        <a href="{{ url_for('delete', id=current_user.id)}}" class="btn btn-outline-danger btn-sm">Delete</a>
        <br/><br/>
        </div>
        <div class="col-4">
          {% if current_user.profile_pic %}
          <img src="{{ url_for('static', filename='imgs/' + current_user.profile_pic)}}" width="200" align="right">     
          {% else %}  
          <img src="{{ url_for('static', filename='imgs/default_profile_pic.png')}}" width="200" align="right">      
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
      
<br/><br/>
</div>
{% endblock %}