{% extends 'base.html' %}

{%block css%}  
<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
{%endblock%}
{%block title%} Code_Bug ~ Profile {%endblock%}

{% block content %}
<br/><br/><br/><br/><br/>

{% for message in get_flashed_messages() %}

	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

{% endfor %}
<br/>
<center><h2>Profile</h2></center>
<br/>
<div class="transition3 card">
  <div class="card-header">
  <h5>View Profile...</h5>
  </div>
  <div class="card-body">
    <p class="card-text">       
    <div class="container">
      <div class="row">
        <div class="col-8">
        <strong>Name:</strong>
        {{ current_user.name }}  <br/>   
        <strong>Username:</strong>
        {{ current_user.username }}  <br/>  
        <strong>User Id:</strong>
        {{ current_user.id }}  <br/>  
        <strong>Email:</strong>
        {{ current_user.email }}  <br/>   
        <strong>About Author:</strong>
        {{ current_user.about_author }}<br/>
        <strong>Profile Pic(Hashed):</strong>
        {{ current_user.profile_pic }}<br/>    
        <strong>Date Joined:</strong>
        {{ current_user.date_added }}  <br/>  
    </p>
        <a href="{{ url_for('logout')}}" class="btn btn-outline-warning btn-sm">Logout</a>    
        <a href="{{ url_for('update', id=current_user.id)}}" class="btn btn-outline-secondary btn-sm">Update Profile</a>     
        <a href="{{ url_for('delete', id=current_user.id)}}" class="btn btn-outline-danger btn-sm">Delete</a>
        <br/><br/>
        </div>
        <div class="col-4">
          {% if current_user.profile_pic %}
          <img src="{{ url_for('static', filename='imgs/' + current_user.profile_pic)}}" width="200" align="right">     
          {% else %}  
          <img src="{{ url_for('static', filename='imgs/default_profile_pic.png')}}" width="200" align="right">      
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
      
<br/><br/>
{% endblock %}

{% block footer %}
<footer class="transition5 footer text-center bg-light">
    <div class="container ">
        <div class="transition5 row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-dark text-uppercase mb-4">Location</h4>
                <p class="lead mb-0 text-dark">
                    India - MAharasthra
                    <br />
                    Street-Not telling you..
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="transition5 col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase text-dark mb-4">Around the Web</h4>
                <a class="btn btn-outline-dark btn-social mx-1 " href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                <a class="btn btn-outline-dark btn-social mx-1 " href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                <a class="btn btn-outline-dark btn-social mx-1 " href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-dark btn-social mx-1 " href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="transition5 col-lg-4">
                <h4 class="text-uppercase text-dark mb-4">About Code_Bug</h4>
                <p class="lead mb-0 text-dark">
                    Code_Bug is a free programming website for learners to code and understand concepts!           
                </p>
            </div>
        </div>
    </div>
</footer>

{% endblock %}

{% block scripts %}
           <!-- JavaScript! -->
     <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

{%endblock%}
