{% extends 'base.html' %}

{%block css%}  

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>

{%endblock%}

{%block title%} Code_Bug ~ SignUp {%endblock%}

{% block content %}
<section>
  <br/><br/><br/><br/><br/><br/><br/>
  
<style>
  .login-box {
    position: absolute;
    margin-top: 400px;
    /* top: 50%; */
    /* left: 50%; */
    width: 791px;
    padding: 20px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
    border-radius: 10px;
}
  </style>
{% for message in get_flashed_messages() %}

	<div class="alert alert-warning alert-dismissible fade show mt-5" role="alert">
	  <center>{{ message }} 
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
      </svg>
      <a href="/login">Login here</a>
    </center>
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

{% endfor %}

<br/><br/>
<div class="login-box">
  <h2>Register</h2>
<form name ="form" method="POST">
            
          {{ form.hidden_tag() }}
          <div class="user-box">
             {{ form.name }}
            {{ form.name.label }} 
          </div>
          <div class="user-box">
             {{ form.username }}
            {{ form.username.label }} 
          </div>
          <div class="user-box">
            {{ form.email }}
            {{ form.email.label }}
          </div>
          <div class="user-box">
            {{ form.password_hash }}
            {{ form.password_hash.label }}
          </div>
          <div class="user-box">
            {{ form.password_hash2 }}
            {{ form.password_hash2.label }}
          </div>
          <button {{ form.submit }}>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </button>
  
          <br/><br/>
          <h4 style="color:white;">
            Already have an account?
          <a href="{{url_for('login')}}">
          <svg xmlns="http://www.w3.org/2000/svg" width="46" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
          Login here</i></a></h4>
        </form>
    </div>                
</section>

    <!-- <div class="form-check">
    <input type="checkbox" class="form-check-input" id="anime" name="hobby" />
    <label class="form-check-label" for="anime">Remember me</label>
    </div> -->
          
{% endblock %}

{% block footer %}
  
{% endblock footer %}
